fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
SQLAlchemy==1.4.50
psycopg2==2.9.9
databases[aiosqlite]==0.8.0
databases[asyncpg]==0.8.0
python-dotenv==1.0.0
pydantic-settings==2.1.0
rich==13.7.0
asgi-correlation-id==4.2.0
python-json-logger==2.0.7
python-jose==3.3.0
python-multipart==0.0.6
passlib[bcrypt]==1.7.4
logtail-python==0.2.7
sentry-sdk[fastaip]==1.38.0
google-cloud-storage==2.13.0
aiofiles==23.2.1
pydantic[email]==2.5.2