fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-stubs
psycopg2
databases[aiosqlite]
databases[asyncpg]
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
python-jose
python-multipart
passlib[bcrypt]
logtail-python
sentry-sdk[fastaip]
google-cloud-storage
aiofiles
